irc:
  server: chat.freenode.net
  channels:
    - 'code4lib'
    - 'duraspace-ff'
  nick: my_irc_bot
  #user: my_irc_username
  #password: 'my_irc_password'

twitter:
  username: 'my_twitter_username'
  api_key: 'XXXXXXXXXXXXXXXXXXXXXXXXXXX'
  api_secret: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
  access_token: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
  access_secret: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
